body {
  background: $background-body;
  background-image: url(../images/connections.svg);
  background-size: cover;
  color: $color-body;
}

.no-svg body {
//  background-image: url(../images/connections.png);
}

a {
  color: $color-body;
}

.motivated {
  background: $color-base;
  color: $background-body;

  a {
    &:hover {
      color: $color-body;
    }
  }
}

::-moz-selection {
  background: $color-base;
  color: $color-body;
  text-shadow: none;
}

::selection {
  background: $color-base;
  color: $color-body;
  text-shadow: none;
}

@include scrollbar(rhythm(1/2), $background-body);
