@font-face {
  font-family: 'EBGaramond';
  src: url('../fonts/EBGaramond12-Regular.eot');
  src: url('../fonts/EBGaramond12-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/EBGaramond12-Regular.woff') format('woff'),
       url('../fonts/EBGaramond12-Regular.ttf') format('truetype'),
       url('../fonts/EBGaramond12-Regular.svg#YourFont') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('../fonts/EBGaramond12-Italic.eot');
  src: url('../fonts/EBGaramond12-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/EBGaramond12-Italic.woff') format('woff'),
       url('../fonts/EBGaramond12-Italic.ttf') format('truetype'),
       url('../fonts/EBGaramond12-Italic.svg#YourFont') format('svg');
  font-style: italic;
  font-weight: normal;
}

