@import "compass/typography/lists/inline-list";
@import "compass/css3/hyphenation";

// Modular Scale
// ----------------------
// 22px @ 1:1.333
// 440px @ 1:1.333
// ----------------------
// See http://modularscale.com/scale/?px1=22&px2=440&ra1=1.333&ra2=0

body {
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
}

a {
  text-decoration: underline;
  color: $color-body;
  
  &:hover, &:visited {
    color: $color-base;
  }
}

@each $h in headings() {
  .#{$h} { @extend #{$h}; }
}

#{headings()} {
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h3 {
  //font-variant-caps: small-caps;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h4, .lead {
  font-style: italic;
}

aside, figcaption {
  @include adjust-font-size-to(0.847em);
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";

  p {
    display: inline;
  }

  &:before {
    content: open-quote;
    text-indent: -0.43em;
    position: absolute;
  }

  &:after {
    content: close-quote;
  }
}

nav ul {
  @include delimited-list("\2003");
}

p {
  //@include hyphenation;
}

.caption-left, .caption-right {
  font-style: italic;
  @include padding-trailer;
}

@include susy-breakpoint($desktop, $large) {

  .caption-left {
    text-align: right;
  }

  .caption-right {
    border-left: 1px solid $color-complement;
    text-align: left;
  }

}

.normal {
  font-style: normal;
}
